
/* ALL STYLES FOR THE BOXES */
  body {
    background-color: #eee;
  }

  .threePanel {
    display: flex;
    flex-flow: row wrap;
  }

  .box {
    flex: 1;
    margin: .5em;
    height: 120px;
    min-width: 100px;
    background-color: #fff;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all .25s ease;
    animation: populate .5s ease-out normal backwards;
  }
  .box:hover {
    transform: scale(1.05);
    z-index: 1;
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  }

  .fa-times {
    color: #5151ff;
  }

  .fa-circle {
    color: #ff4c1a;
  }

  @keyframes populate {
    0% {
      transform: scale(0);
    }
  }